body{
  margin: 0;
}

h1{
  font-family: 'VT323', monospace;
}

#hero{
  display: grid;
  grid-template-columns: 0.27fr 1fr;
  height: 60vw;
}

#main-content{
  background-color: beige;
  border-width: 2px;
  border-color: black;

  display:grid;
  grid-template-columns:  1fr 0.4fr;
}

#projects{
  background-color: aqua;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2;
  gap: 5px;
  height: 47vw;
}
.proj{
  background-color: bisque;
}


#right-bar{
  display:grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 3vw;
}

/*Here starts the side bar section*/
#side-bar{
  display:grid;
  grid-template-rows: 0.15fr 0.2fr 0.2fr;

  background-color: rgb(177, 130, 220);
  
  row-gap: 3vw;
  z-index: 10;

  padding-left: 2vw;
}
#side-bar p{
  color: white;
  font-weight: 700;
}

#nav{
  
  display:grid;
  grid-template-rows: 6;
}

.nav-icons{
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  justify-content: center;
  align-items: center;
}

#config{
  display:grid;
  grid-template-rows: 3;
  align-items: flex-start;
}

/*Here starts the header section*/

#header{
  height: 13vw;
  display:grid;
  padding-left: 1vw;
  margin-bottom: 1vw;
  box-shadow: 0px 0.01vw 0.5vw  rgb(206, 206, 206);
  
}

#header-upper{
  display:grid;
  grid-template-columns: 1fr 0.3fr;
  
}

#header-down{
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

#header-search{
  margin-top: 1vw;
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  align-items: center;
}

input{
  width: 45vw;
  border-radius: 0.8vw;
  height: 1.7vw;
  border-width: 0.08vw;

  background-color: rgb(206, 179, 255);
  border-width: 0;
}

#search-button{
  width: 1vw;
}

#notification{
  width: 1vw;
}

.avatar{
  width: 4vw;
  border-radius: 2vw;
}

#user-name{
  font-size: larger;
  font-weight: bold;
  padding-left: 1vw;
}

#user-name p{
  margin-top: -1vw;
}

#header-notification{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1vw;
  margin-right: 2vw;
}

.header-notification-icons{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: larger;
}

#header-down-left{
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  align-items: center;
  column-gap: 3vw;
}

#header-down-right{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.button-header{
  background-color: blueviolet;
  width: 7vw;
  height: 3vw;
  border-radius: 2vw;
  border-width: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Responsive layout with Clamp Method*/
p,
input{
  font-size: clamp(0.5vw, 1.5vw, 5vw);
  font-family: roboto;
}
